<div class="row search-item" *ngFor="let product of products">
  <div class="">
    <a (click)="handleRedirectToProductDetails(product.id!)">
      <img src="{{ product.image }}" alt="" />
    </a>
  </div>

  <div class="col-sm-8">
    <a (click)="handleRedirectToProductDetails(product.id!)">
      <h6>{{ product.name }}</h6>
    </a>

    <p>
      <strong>Price: {{ product.price }}</strong>
    </p>
    <p>Category: {{ product.category }}</p>
    <p>Description: {{ product.description }}</p>
  </div>
</div>
