<div class="update-product">
  <h1>Update Product</h1>

  <p *ngIf="message" class="form-success-message">{{ message }}</p>

  <form
    class="common-form"
    [formGroup]="productForm"
    name="productForm"
    (ngSubmit)="handleUpdateProduct()"
  >
    <input
      type="text"
      class="form-input"
      formControlName="name"
      placeholder="Product Name"
    />
    <input
      type="text"
      class="form-input"
      formControlName="price"
      placeholder="Product Price"
    />
    <textarea
      class="form-input"
      formControlName="description"
      placeholder="Product Description"
    ></textarea>
    <input
      type="text"
      class="form-input"
      formControlName="image"
      placeholder="Product Image"
    />
    <select class="form-input" name="category" id="" formControlName="category">
      <option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </option>
    </select>

    <button type="submit" class="form-button">Update Product</button>
  </form>
</div>
