.cart-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-items {
  display: flex;
  flex-direction: column;
  width: 900px;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cart-items ul {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.cart-items ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.cart-items img {
  width: 100px;
}

.cart-items button {
  padding: 0.5rem 1rem;
}

.cart-items button:hover {
  cursor: pointer;
}

.cart-items ul li button:active {
  background-color: #ccc;
}

.cart-items ul li button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.cart-items ul li button:disabled:hover {
  cursor: not-allowed;
}

.cart-items ul li button:disabled:active {
  background-color: #ccc;
}

.cart-items ul li button:disabled:active:hover {
  cursor: not-allowed;
}

.cart-checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 350px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cart-checkout h2 {
  text-align: center;
  margin: 0px;
}

.cart-checkout .cart-summary {
  width: 100%;
  min-height: 250px;
}

.cart-summary .summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
