<div class="cart-container">
  <h1>Cart Page</h1>

  <div class="cart-content">
    <div class="cart-items">
      <ul *ngFor="let item of cartItems">
        <li>
          <img src="{{ item.image }}" alt="" />
        </li>
        <li>{{ item.name }}</li>
        <li>USD {{ onFormatPrice(item.price) }}</li>
        <li>{{ item.quantity }}</li>
        <li>USD {{ onFormatPrice(item.price * item.quantity) }}</li>
        <li>
          <button class="btn btn-secondary" (click)="removeFromCart(item.id!)">
            Remove
          </button>
        </li>
      </ul>
    </div>

    <div class="cart-checkout">
      <h2>Summary</h2>

      <div class="cart-summary">
        <div class="summary-item">
          <span>Shipping: </span>
          <span>Free</span>
        </div>

        <div class="summary-item">
          <span>Tax: </span>
          <span>0</span>
        </div>

        <div class="summary-item">
          <span>Total: </span>
          <span> USD {{ total }}</span>
        </div>
      </div>

      <button class="btn btn-primary" (click)="handleRedirectToCheckoutPage()">
        Checkout
      </button>
    </div>
  </div>
</div>
