<div class="cart-container">
  <h1>Cart Page</h1>

  <div class="cart-content">
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td>
            <img [src]="item.image" alt="" />
          </td>
          <td>{{ item.name }}</td>
          <td>USD {{ onFormatPrice(item.price) }}</td>
          <td>{{ item.quantity }}</td>
          <td>USD {{ onFormatPrice(item.price * item.quantity) }}</td>
          <td>
            <button
              class="btn btn-secondary"
              (click)="removeFromCart(item.id!)"
            >
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="cart-checkout">
      <h2>Summary</h2>

      <div class="cart-summary">
        <div class="summary-item">
          <span>Shipping: </span>
          <span>Free</span>
        </div>
        <div class="summary-item">
          <span>Tax: </span>
          <span>0</span>
        </div>
        <div class="summary-item">
          <span>Total: </span>
          <span> USD {{ total }}</span>
        </div>
      </div>

      <button class="btn btn-primary">Checkout</button>
    </div>
  </div>
</div>
