<nav class="nav">
  <h1 style="cursor: pointer">
    <a routerLink="/">E-commerce</a>
  </h1>

  <div *ngIf="menuType === 'default'" class="nav-search">
    <input
      type="text"
      placeholder="Search Products"
      #searchInput
      (keyup)="handleSearchProduct($event)"
      (blur)="handleHideSuggestedSearch()"
    />

    <button (click)="handleSubmitSearch(searchInput.value)">Search</button>

    <ul class="suggested-search" *ngIf="searchResult.length">
      <li *ngFor="let product of searchResult">
        <a (mousedown)="handleRedirectToProductDetails(product.id!)">{{
          product.name
        }}</a>
      </li>
    </ul>
  </div>

  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="seller" routerLinkActive="active">Seller</a></li>
      <li><a routerLink="" routerLinkActive="active">Home</a></li>
      <li routerLink="login" routerLinkActive="active">Login/Signup</li>
      <li>
        <a routerLink="cart" routerLinkActive="active">
          Cart ({{ cartItemCount }})
        </a>
      </li>
    </ul>

    <ul *ngSwitchCase="'seller'">
      <li>
        <a routerLink="add-product" routerLinkActive="active">Add Product</a>
      </li>
      <li><a routerLink="seller-home" routerLinkActive="active">List</a></li>
      <li (click)="onLogout()" routerLinkActive="active">Logout</li>
      <li>
        <a routerLinkActive="active">{{ sellerName | titlecase }}</a>
      </li>
    </ul>
  </div>
</nav>
