<div class="add-product">
  <h1>Add Product</h1>

  <p *ngIf="message" class="success-message">{{ message }}</p>

  <form
    class="common-form"
    [formGroup]="productForm"
    name="productForm"
    (ngSubmit)="handleCreateProduct()"
  >
    <input
      type="text"
      class="input"
      formControlName="name"
      placeholder="Product Name"
    />

    <input
      type="text"
      class="input"
      formControlName="price"
      placeholder="Product Price"
    />

    <textarea
      class="input"
      formControlName="description"
      placeholder="Product Description"
    ></textarea>

    <input
      type="text"
      class="input"
      formControlName="image"
      placeholder="Product Image"
    />
    <select class="input" name="category" id="" formControlName="category">
      <option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </option>
    </select>

    <button type="submit" class="btn btn-primary">Add Product</button>
  </form>
</div>
