<div class="row product-details" *ngIf="product">
  <div>
    <img class="product-image" src="{{ product.image }}" alt="" />
  </div>

  <div>
    <div class="details">
      <h1>{{ product.name }}</h1>
      <div class="details-item">
        <strong>Price:</strong>
        <h3>$ {{ product.price }}</h3>
      </div>
      <div class="details-item">
        <strong>Description:</strong>
        <h3>{{ product.description }}</h3>
      </div>
      <div class="details-item">
        <strong>Category:</strong>
        <h3>{{ product.category }}</h3>
      </div>

      <div class="button-group">
        <button class="btn btn-primary">Add to Cart</button>
        <button class="btn btn-primary">Buy Now</button>
      </div>

      <div class="quantity-group">
        <button class="quantity-btn" (click)="decreaseQuantity()">-</button>
        <input type="text" value="{{ quantity }}" />
        <button class="quantity-btn" (click)="increaseQuantity()">+</button>
      </div>
    </div>
  </div>
</div>
