body {
  font-family: sans-serif;
}

.container {
  margin-left: 5%
  margin-right: 5%;
}

.common-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.input {
  height: 35px;
  margin-bottom: 20px;
  border: 1px solid blueviolet;
  border-radius: 5px;
  padding-left: 15px;
  color: blueviolet;
}

.button-group {
  display: flex;
  gap: 10px;
  margin: 10px 0px;
}

.btn {
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 10px 15px;
}

.btn-primary {
  background-color: blueviolet;
  color: white;
}

.btn-secondary {
  background-color: #ccc;
  color: blueviolet;
}

.error-message {
  color: red;
  text-align: center;
}

.success-message {
  text-align: center;
  color: green;
}

.icon-button {
  cursor: pointer;
  margin: 0px 6px;
  font-size: 20px;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.col-sm-3 {
  width: 300px;
}
